<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazureleming.financemanager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceManager" >
        <activity
            android:name="com.lazureleming.financemanager.addtransactionactivity.AddTransactionActivity"
            android:label="@string/title_activity_add_transaction"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.FinanceManager.NoActionBar" />
        <activity
            android:name="com.lazureleming.financemanager.mainactivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinanceManager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.lazureleming.financemanager.provider"
            android:name="com.lazureleming.financemanager.FinancialManagerContentProvider"
            android:enabled="true"
            android:exported="true"
            android:label="Financial Manager Content Provider" />
    </application>

</manifest>